---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const voyages = await getCollection("voyages");

  return voyages.map((voyage) => ({
    params: { slug: voyage.id },
    props: { voyage: voyage },
  }));
}

const { voyage } = Astro.props;
const { Content } = await render(voyage);
---

<Layout title={voyage.data.title}>
  <h1>{voyage.data.title}</h1>
  <Content />
</Layout>
