---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="p-10">
    <h1 class="text-4xl text-red-500 font-bold">Tailwind OK</h1>

    <p class="mt-4 text-gray-600">Site personnel en reconstruction</p>
  </main>
</Layout>
