---
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<h1>Projets</h1>

<ul>
  {
    projects.map((project) => (
      <li>
        <a href={`/projects/${project.id}`}>{project.data.title}</a>
      </li>
    ))
  }
</ul>
